<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buttherflies</title>
	<link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" /> 
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
	
</head>
<body>
	<div id="container">
	<%= yield %>
    </div>
</body>
</html